@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive; 

}

body {
    padding: 30px;
    background-color: rgb(238, 214, 148);
}

h1 {
    font-size: 10vh;
    margin-top: 0;
}

.gameboard {
    height: 450px;
    width: 450px;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    justify-items: center;
    align-items: center;

}

.game-cell {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    height: 100%;
    width: 100%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.game-cell:hover {
    background-color: lightgray;
}

.game-cell:nth-child(3n) {
    border-right: none;
}

.game-cell:nth-child(n +7) {
    border-bottom: none;
}

.winning-message {
    background-color: lightblue;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 10vh;
    animation-name: colourSwitch;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes colourSwitch {
    0% {background-color: gold;}
    20% {background-color: chartreuse;}
    40% {background-color: blue;}
    60% {background-color: darkmagenta;}
    80% {background-color: coral;}
    100% {background-color: gold;}
}

.draw-message {
    background-color: rgb(105, 101, 101);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 10vh;
}

.reset-btn {
    position: fixed;
    top: 60vh;
    cursor: pointer;
    background-color: black;
    color: whitesmoke;
    border: none;
    font-size: 7vh;
}

.reset-btn:hover {
    background-color: grey;
}